node_modules/
dist/
.turbo/
*.tsbuildinfo
*.local

# Tauri
apps/desktop/src-tauri/target/
apps/desktop/src-tauri/WixTools/
apps/desktop/src-tauri/binaries/

# Extension
apps/extension/.output/
apps/extension/.wxt/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
